* {
box-sizing: border-box;
margin: 0;
}

button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 50px;
    font-size: 8px;
    height: 100%;
    font-weight: bold;
}

p {
    color: red;
}

button:hover {
    cursor: pointer;
}

body {
    text-align: center;
    width: 800px;
    height: 800px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.body-box {
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.buttons-box {
    width: 800px;
    height: 6%;
}

.buttons, #betting-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#start-round {
    text-align: center;
}

#table {
    max-width: 1000px;
    background-color: darkgreen;
    width: 95%;
    height: 55%;
    border-radius: 200px;
    border: solid black 5px;
}

.player-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.players1 {
    display: flex;
    justify-content: space-around;
}
.players2 {
    display: flex;
    justify-content: space-around;
}

.players11 {
    width: 80%;
}

.players22 {
    width: 80%;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 150px;
    height: 150px
}

.fa-user-ninja {
    color: white;
    padding-top: 10px;
}

.bet-choice {
    background-color: lightgrey;
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.user p:first-of-type {
    font-weight: bold;
    color: lightblue;
}

.card {
    background-color: white;
    height: 75%;
    border-radius: 5px;
    flex-basis: 85px;
    padding: 10px;
    font-weight: 400;
}

.community-cards, .showdown-cards, .my-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: black;
    font-weight: 400;
    height: 100%;
    min-width: 400px;
    max-width: 700px;
}

/* Community Box contains Showdown Cards as well as Community Cards */
.community-box, .cards-box {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    min-width: 400px;
    max-width: 700px;
    height: 25%;
    padding: 0 10px 0 10px;
    background-color: lightgrey;
    border-radius: 5px;
}

.com-des {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.com-des p {
    font-weight: bold;
    color: lightblue;
}

.cards-des p {
    font-weight: bold;
}

#player-4 p:last-of-type {
    font-weight: bold;
}

#player-4 p:first-of-type{
    color: red;
}